@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

:root {
  --white-color: #ffffff;
  --primary-color: #f44749;
  --secondary-color: #f3af24;
  --section-bg-color: #f9f9f9;
  --dark-color: #000000;
  --title-color: #565758;
  --news-title-color: #292828;
  --p-color: #717275;
  --border-color: #eaeaea;
  --border-radius-default: 0.25rem;

  --body-font-family: "Montserrat", sans-serif;

  --h1-font-size: 76px;
  --h2-font-size: 56px;
  --h3-font-size: 42px;
  --h4-font-size: 28px;
  --h5-font-size: 26px;
  --h6-font-size: 22px;

  --p-font-size: 18px;
  --menu-font-size: 18px;
  --category-font-size: 14px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  background: var(--white-color);
  font-family: var(--body-font-family);
  position: relative;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

h1,
h2 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p,
.list .list-item {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

.form-label {
  color: var(--p-color);
  font-weight: var(--font-weight-semibold);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--white-color);
}

.section-padding {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}
